/*.contactContainer {*/
/*    margin: 250px auto 50px auto;*/
/*    width: 50vw;*/
/*    color: #0b132b;*/
/*}*/

/*.mail, .leaveMessage {*/
/*    margin: 30px 0;*/
/*}*/

/*.contactInput {*/
/*    width: 400px;*/
/*    height: 30px;*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 3px;*/
/*    padding: 0 10px;*/
/*}*/

/*.contactInput:focus, textarea:focus {*/
/*    border: 1px solid #0b132b;*/
/*}*/

/*textarea {*/
/*    border: 1px solid #ddd;*/
/*    border-radius: 3px;*/
/*    padding: 7px 10px;*/
/*}*/

/*.cinput {*/
/*    margin: 0 0 35px 0;*/
/*}*/

/*.submitButton {*/
/*    background: #0b132b;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    width: 100px;*/
/*    color: white;*/
/*    height: 40px;*/
/*    text-align: center;*/
/*    border-radius: 3px;*/
/*}*/

/*#fists {*/

/*}*/

/*@media only screen and (max-width: 1366px) {*/
/*    .contactContainer {*/
/*        width: 70vw;*/
/*    }*/

/*    .mail, .leaveMessage {*/
/*        margin: 20px 0;*/
/*    }*/
/*}*/
.contactContainer {
    margin: 250px auto 50px auto;
    width: 50vw;
    color: #0b132b;
}

.mail, .leaveMessage {
    margin: 30px 0;
}

.contactInput {
    width: 400px;
    height: 30px;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 0 10px;
}

.contactInput:focus, textarea:focus {
    border: 1px solid #0b132b;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 7px 10px;
}

.cinput {
    margin: 0 0 35px 0;
}

.submitButton {
    background: #0b132b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100px;
    color: white;
    height: 40px;
    text-align: center;
    border-radius: 3px;
}

#fists {

}

@media only screen and (max-width: 1366px) {
    .contactContainer {
        width: 70vw;
    }

    .mail, .leaveMessage {
        margin: 20px 0;
    }
}



