.hero {
    background-color: #0b132b;
    height: 100vh;
}

.App {
    overflow: hidden;
}

.desktop {
    cursor: none;
}

.toTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}
