.hero {
    height: 100vh;
}

.App {
    overflow: hidden;
}

.desktop {
    cursor: none;
}

.toTop {
    position: fixed !important;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
}

.timeline-container {
    padding: 50px 30vw 0 30vw;
}

.small-timeline {
    display: none;
}


@media only screen and (max-width: 1800px) {
    .timeline-container {
        padding: 50px 24vw 0 24vw;
    }
    
    .small-timeline {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .timeline-container {
        padding: 50px 10vw 0 10vw;
    }
    .big-timeline {
        display: none;
    }

    .small-timeline {
        display: block;
    }
}