/*.work {*/
/*    background-color: #FFF;*/
/*    margin-top: 250px;*/
/*}*/

/*.interships, .research, .courses {*/
/*    margin: 60px 0;*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*    color: #0b132b;*/
/*}*/

/*.workSamples {*/
/*    margin: auto;*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/

/*.workContainer {*/
/*    width: 50vw;*/
/*    margin: auto;*/
/*}*/

/*.github > a, .field {*/
/*    text-decoration: none;*/
/*    color: #0b132b;*/
/*}*/

/*img.works {*/
/*    height: 54px;*/
/*    width: 162px;*/
/*}*/

/*@media only screen and (max-width: 1366px) {*/
/*    .workContainer {*/
/*        width: 70vw;*/
/*    }*/
/*}*/
.work {
    background-color: #FFF;
    margin-top: 250px;
}

.interships, .research, .courses {
    margin: 60px 0;
}

h1 {
    text-align: center;
    color: #0b132b;
}

.workSamples {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.workContainer {
    width: 50vw;
    margin: auto;
}

.github > a, .field {
    text-decoration: none;
    color: #0b132b;
}

img.works {
    height: 54px;
    width: 162px;
}

@media only screen and (max-width: 1366px) {
    .workContainer {
        width: 70vw;
    }
}
